<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Diesel Report - Capture
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <form #dieselForm="ngForm" (ngSubmit)="submitReport(dieselForm)">
            <ion-list>
                <ion-item>
                    <ion-label>Date</ion-label>
                    <ion-datetime display-format="DD MMM, YYYY" [(ngModel)]="dieselReport.reportDate" name="Report_Date"
                                  required></ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Bakkie Number</ion-label>
                    <ion-select [(ngModel)]="dieselReport.bakkieNumber" okText="Okay" cancelText="Dismiss"
                                placeholder="Select Bakkie" name="Bakkie_Number" required="true">
                        <ion-select-option value="CGG05">CGG05</ion-select-option>
                        <ion-select-option value="CGG10">CGG10</ion-select-option>
                        <ion-select-option value="CGG15">CGG15</ion-select-option>
                        <ion-select-option value="CGG25">CGG25</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Start Kilometers</ion-label>
                    <ion-input type="number" [(ngModel)]="dieselReport.startKilos" name="Start_Kilos"
                               required="true"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">End Kilometers</ion-label>
                    <ion-input type="number" [(ngModel)]="dieselReport.endKilos" name="End_Kilos"
                               required="true"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Diesel Filled</ion-label>
                    <ion-input type="number" [(ngModel)]="dieselReport.dieselFilled" name="Diesel"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Notable Travel</ion-label>
                    <ion-input type="text" [(ngModel)]="dieselReport.notableTravel" name="Notable_Travel"></ion-input>
                </ion-item>

                <ion-button color="primary" type="submit" [disabled]="!dieselForm.valid">Submit</ion-button>
            </ion-list>
        </form>
    </ion-card>
    <ion-button href="tabs/tab1/list">List Reports</ion-button>
</ion-content>
